@charset "utf-8";
body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    z-index: 0;
}
#blackbg{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 22;
}
#deviceready{
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: skyblue;
    background: url('http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/bg.jpg');
}
#mainbox{
    width: 1920px;
    position: absolute;
    top:0px;
    left:0px;
    /*display: none;*/

    transition:all 0.2s;
    -moz-transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
#rulePage{
    width:1920px;
    height:1080px;
    overflow: hidden;
    /*background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/rule/rulebg.jpg");*/
    display: none;
}
#ruleInner{
    width: 1920px;
    height: 1080px;
    position: absolute;
    top:0px;
    left:0px;
    overflow: auto;
}
#needUpdate{
    width: 925px;
    height:446px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
    display: none;
    z-index: 5;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/needup.png");
}

#toplogo{
    width: 423px;
    height: 91px;
    position: absolute;
    top:7px;
    left:81px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/toplog.png");
}
.topbtn{
    width: 250px;
    height:104px;
    position: absolute;
    top:0;
}
#mygift{
    left:1115px; 
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/mygift.png");
}
#packlist{
    left:1364px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/packlist.png");
}
#rule{
    left:1611px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/rule.png");
}
.topBtnBorder{
    position: absolute;
    top:0;
    left:0;
    width: 250px;
    height: 104px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/border.png");
    display: none;
}
.btnFocus .topBtnBorder{
    display: block;
}
#leftRing,#rightRing{
    width: 96px;
    height: 90px;
    position: absolute;
    top:71px;
    left:17px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/left.png");
    z-index: 2;
}
#rightRing{
    left:1811px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/right.png");
}
#topBanner{
    width: 1822px;
    height: 564px;
    position: relative;
    left:49px;
    top: 53px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/banner.png");
}
#topBanner.btnFocus{
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/borderbanner.png");
}
#innerBanner{
    width:1760px;
    height:440px;
    /*border:4px solid;*/
    border-radius: 10px;
    position: absolute;
    left: 0;
    right:0;
    top: 90px;
    margin: auto;
    background-color: red;
}
#fakeNews,#koiNews{
    width:600px;
    height:50px;
    font-size: 36px;
    line-height: 50px;
    position: absolute;
    top:50px;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
    overflow:hidden;
}
#koiNews{
    top:0;
}
#fakeNewsul,#koiNewsul{
    transition:all 0.2s;
    -moz-transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
#fakeNewsul li,#koiNewsul li{
    height: 50px;
    line-height: 50px;
}
#hasRingNum{
    width: 200px;
    height:30px;
    position: absolute;
    right:0px;
    top:30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}
#differentWord{
    width:800px;
    height:50px;
    font-size: 36px;
    line-height: 50px;
    position: absolute;
    bottom:50px;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
    overflow:hidden;
}
#street{
    width: 1790px;
    position: relative;
    left:0;
    right: 0;
    top:100px;
    margin: auto;
}
.panel{
    width: 1920px;
    height:335px;
    margin-bottom: 50px;
}
.block{
    height: 327px;
    width:482px;
    margin-left: 21.5px;
    margin-right: 21.5px;
    background-color: white;
    display: inline-block;
    padding: 4px;
    position: relative;
}
.panel .block:nth-child(1){
    margin-left: 0;
    width:710px;
}
.couponDiv{
    width: 200px;
    height:30px;
    line-height: 30px;
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 28px;
}
.coocaabtn.btnFocus:not(.topbtn):not(.banner){
    border: 4px solid white;
    border-image-source:url(http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/bannerBorder.png);
    border-image-slice:8;
    border-image-width:2;
    border-image-repeat:round;


    padding: 0px;
    opacity: 1;
    box-shadow: 0px 0px 0px 0px black;
    transform: scale(1.08, 1.08);
    -ms-transform: scale(1.08, 1.08);
    /* IE 9 */
    -webkit-transform: scale(1.08, 1.08);
    /* Safari 和 Chrome */
    -o-transform: scale(1.08, 1.08);
    /* Opera */
    -moz-transform: scale(1.08, 1.08);
    z-index: 2;
}