@charset "utf-8";
body {
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    z-index: 0;
}
#blackbg{
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 22;
}
#deviceready{
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background: skyblue;
    background: url('http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/bg.jpg');
}
#mainbox{
    width: 1920px;
    position: absolute;
    top:0px;
    left:0px;
    /*display: none;*/

    transition:all 0.2s;
    -moz-transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
#rulePage{
    width:1920px;
    height:1080px;
    overflow: hidden;
    display: none;
}
#ruleInner{
    width: 1920px;
    height: 1080px;
    position: absolute;
    top:0px;
    left:0px;
    overflow: auto;
}
#needUpdate{
    width: 1134px;
    height:308px;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin: auto;
    display: none;
    z-index: 5;
    /*background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/double11/mainpage/needup.png");*/
}

#toplogo{
    width: 423px;
    height: 91px;
    position: absolute;
    top:7px;
    left:81px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/toplog.png");
}
.topbtn{
    width: 250px;
    height:104px;
    position: absolute;
    top:0;
}
#mygift{
    left:1115px; 
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/newmygift.png");
}
#packlist{
    left:1364px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/packlist.png");
}
#rule{
    left:1611px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/rule.png");
}
#mygift.btnFocus{
    left:1115px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/newmygiftfocus.png");
}
#packlist.btnFocus{
    left:1364px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/packlistfocus.png");
}
#rule.btnFocus{
    left:1611px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/rulefocus.png");
}
.topBtnBorder{
    position: absolute;
    top:0;
    left:0;
    width: 250px;
    height: 104px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/bordernew.png");
    display: none;
}
.btnFocus .topBtnBorder{
    display: block;
}
#leftRing,#rightRing{
    width: 96px;
    height: 90px;
    position: absolute;
    top:71px;
    left:17px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/left.png");
    z-index: 2;
}
#rightRing{
    left:1811px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/right.png");
}
#topBanner{
    width: 1857px;
    height: 580px;
    position: relative;
    left:30px;
    top: 53px;
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/newbanner.png");
}
#topBanner.btnFocus{
    background: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/newborderbanner.png");
}
#innerBanner,#adStation{
    width:1760px;
    height:440px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right:0;
    top: 90px;
    margin: auto;
}
#adStation{
    background-size: 100%;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/ad.png");*/
}
#newsBg{
    width: 547px;
    height: 90px;
    position: absolute;
    top:11px;
    left:607px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/newsBg.png");
}
#newsBg2{
    width: 507px;
    height:42px;
    position: absolute;
    top:14px;
    left:627px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/koibg.png");
}

#koiNews{
    width: 507px;
    height:33px;
    line-height: 33px;
    position: absolute;
    top:18px;
    left:627px;
    font-size: 22px;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    /*border: 1px solid white;*/
}
#fakeNews{
    width: 547px;
    height: 40px;
    position: absolute;
    top:58px;
    left:607px;
    line-height: 40px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    /*border: 1px solid white;*/
}
#fakeNewsul,#koiNewsul{
    transition:all 0.2s;
    -moz-transition:all 0.2s;
    -webkit-transition:all 0.2s;
}
#koiNewsul li{
    height: 33px;
    line-height: 33px;
}
#fakeNewsul li{
    height: 40px;
    line-height: 40px;
}
#hasRingNum{
    width: 225px;
    height:58px;
    position: absolute;
    left:1528px;
    top:7px;
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/ringnum.png");
}
#hasRingNum span{
    display: inline-block;
    width: 39px;
    height: 58px;
    line-height: 58px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left:95px;
    font-size: 26px;
    color: #fff000;
}
#differentWord{
    width:800px;
    height:50px;
    font-size: 36px;
    line-height: 50px;
    position: absolute;
    bottom:50px;
    left:0;
    right:0;
    margin: auto;
    text-align: center;
    overflow:hidden;
}
#bannerBtn{
    position: absolute;
    top:339px;
    left:786px;
    width: 243px;
    height:91px;
    /*background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/enterNow.png");*/
}
#street{
    width: 1790px;
    position: relative;
    left:0;
    right: 0;
    top:100px;
    margin: auto;
}
.panel{
    width: 1920px;
    height:335px;
    margin-bottom: 50px;
}
.block{
    height: 351px;
    width:506px;
    margin-left: 10px;
    margin-right: 10px;
    /*background-color: white;*/
    display: inline-block;
    padding: 4px;
    position: relative;
    background-size: 100%;
}
.blockimg{
    height: 327px;
    width:482px;
    margin: 4px;
    background-size: 100%;
    position: relative;
}
.panel .block:nth-child(1){
    margin-left: -10px;
    width:726px;
}
.panel .block:nth-child(1) .blockimg{
    margin-left: 16px;
    width:702px;
}
.panel .block:nth-child(1) .couponDiv{
    background-image: url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/couponbg.png");
}
.couponDiv{
    width: 286px;
    height:32px;
    line-height: 32px;
    position: absolute;
    bottom: 12px;
    right: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    display: none;
}
.coocaabtn.btnFocus:not(.topbtn):not(.banner){
    border: 4px solid white;
    /*border-image-source:url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/finalBannerBorder.png");*/
    /*border-image-slice:8;*/
    /*border-image-width:2;*/
    /*border-image-repeat:round;*/
    -webkit-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/finalBannerBorder.png") 8 /2 round; /* Safari 5 */
    -o-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/finalBannerBorder.png") 8 /2 round; /* Opera */
    -ms-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/finalBannerBorder.png") 8 /2 round; /* Opera */
    -moz-border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/finalBannerBorder.png") 8 /2 round; /* Opera */
    border-image:url("http://sky.fs.skysrt.com/statics/webvip/webapp/christmas/index/finalBannerBorder.png") 8 /2 round;;

    background-size: 100%;

    padding: 0px;
    opacity: 1;
    /*box-shadow: 0px 0px 0px 0px black;*/
    /*box-shadow:0px 10px 25px rgba(0,0,0,0.5);*/
    box-shadow:0px 0px 45px rgba(0,0,0,0.8);
    transform: scale(1.08, 1.08);
    -ms-transform: scale(1.08, 1.08);
    /* IE 9 */
    -webkit-transform: scale(1.08, 1.08);
    /* Safari å’Œ Chrome */
    -o-transform: scale(1.08, 1.08);
    /* Opera */
    -moz-transform: scale(1.08, 1.08);
    z-index: 2;
}
.coocaabtn .blockimg{
    margin: 12px;
}
.coocaabtn.block:nth-child(1) .blockimg{
    margin-left: 12px;
}
#blackBg {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: 0.80;
    filter: alpha(opacity=80);
    z-index: 3;
}